@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 31, 29, 34;
  --background-end-rgb: 56, 52, 63;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 68, 64, 74;
    --background-end-rgb: 70, 64, 79;
    box-sizing: border-box;
  }
}
body {
  height: 100vh;
  width: 100vw;
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb)); 
  background-image: url("/stars3.png");
  background-size: 20%;
  background-position: top;
  background-repeat: repeat;
  backdrop-filter: brightness(70%)
}

@font-face {
  font-family: 'moto-verse';
  src: url('/fonts/moto-verse.otf') format('opentype'),
       url('/fonts/moto-verse.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .btn {
    @apply h-full px-2 rounded;
  }
  .btn-hover {
    @apply hover:border-b-4 hover:border-violet-500
  }
  .btn-selected {
    @apply text-lime-500 text-opacity-90 border-b-4 border-lime-200 border-opacity-90 border-b-4 hover:border-lime-500 hover:border-opacity-50
  }
  .tab {
    @apply text-sm md:text-lg lg:text-xl px-2 md:px-4 lg:px-6 border-4 h-1/2 border-b-0 border-pink-900 rounded rounded-b-none bg-zinc-900 bg-opacity-75
  }
  .tab-hover {
    @apply hover:border-pink-500 hover:h-4/6
  }
  .tab-selected {
    @apply border-pink-500 h-4/6
  }
  .swiper {
    @apply w-full h-[300px] z-30
  }
  .label {
    @apply py-4 mt-4
  }
  .book-label {
    @apply pb-2 mt-2
  }
  .input {
    @apply w-full md:w-3/5 p-4 rounded outline-lime-500 bg-gray-900
  }
  .text-area {
    @apply h-40 resize-none
  }
  .form-button {
    @apply mx-2 md:mx-10 p-4 rounded bg-gray-900 hover:bg-gray-700 active:bg-gray-500 border border-slate-600 cursor-pointer
  }
  .submit {
    @apply bg-green-600 bg-opacity-30
  }
  .cancel {
    @apply bg-red-600 bg-opacity-30
  }
}

.swiper {
  height: 310px;
  z-index: 30;
}
.swiper-slide {
  overflow-y: visible !important;
}
.swiper-button-prev {
  transform: translateX(-10px);
}
.swiper-button-next {
  transform: translateX(10px);
}
.swiper-button-prev::after,
.swiper-button-next::after {
  opacity: .6;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  opacity: 1;
}
.swiper-pagination::after {
  color: red;
  /* transform: translateY(20px) !important; */
}
.swiper-pagination-color {
  color: #84CC16;
}


.moto {
  font-family: 'moto-verse', sans-serif;
  opacity: .85;
}